#container {
    width: 350px;
    height: 92%;
    z-index: 2;
    position: absolute;
    top: 10px;
    right: 10px;
    background: #FAFAFA;
    border-radius: 10px;
}

.drive {
    height: 10px;
    width: 10px;
    background-color: blue;
    border-radius: 50%;
    display: inline-block;
    margin-right: 10px;
}

.walk {
    height: 10px;
    width: 10px;
    background-color: green;
    border-radius: 50%;
    display: inline-block;
    margin-right: 10px;
}

.both {
    height: 10px;
    width: 10px;
    background-color: black;
    border-radius: 50%;
    display: inline-block;
    margin-right: 10px;
}