.placeAutocompleteCard {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin: 10px;
    padding: 5px;
    font-family: Roboto, sans-serif;
    font-size: large;
    font-weight: bold;
    position: absolute;
    width: 600px;
    z-index: 3;
  }
  
  /* This targets the web component directly, so it remains global.
     It's generally okay to have a few of these for external components. */
gmp-place-autocomplete {
    width: 600px;
}