
#place-autocomplete-card {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin: 10px;
    padding: 5px;
    font-family: Roboto, sans-serif;
    font-size: large;
    font-weight: bold;
    position: absolute;
    width: 600px;
    z-index: 3;
  }
  
  gmp-place-autocomplete {
    width: 600px;
  }

  .dot {
    height: 10px;
    width: 10px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
  }

  #legend-container {
    position: absolute;
    bottom: 30px;
    z-index: 2;
    margin: 20px;
    background-color: #FFF;
  }


#legend {
    padding: 20px;
    list-style-type: none;
}